:root, body {
    padding: 0;
    margin: 0;
    background-color: beige;
}

/* Formulaire */
.container-fluid {
    width: 50rem;
    border: 0.1rem outset black;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px black;
    background-image: linear-gradient(to right bottom, lightblue, beige);
}

h3 {
    margin: 3rem;
    padding: 2rem;
    font-size: 3rem;
}

.form-group {
    width: 100%;
    text-align: center;
}

.form-control {
    width: 30rem;
    padding: 0.5rem;
}

.form-label {
    font-size: 1.3rem;
}

input {
    margin: 1.5rem;
}

.btn-primary {
    margin: 1rem;
    width: 50%;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin: 1rem;
}
