/*html */

:root {
   margin: 0;
   padding: 0;
   line-height: 5rem;
   box-sizing: border-box;
}

/* header */
header {
    background-color: #f8f9fa; 
    height: auto;
}

header h1 {
    font-weight: bold;
    font-size: 4.5rem;
    background: -webkit-linear-gradient(#0d6efd, rgb(161, 161, 161), #0d6efd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.image{
    float: left;
    width: 250px;
    height: 173px;
    object-fit: cover;
}

/* nav */

#navbarToggler {
    line-height: 2rem;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    font-weight: bold;
}


a:hover{
    color: beige;
}

/* body */

/* Image */
.flash-info,.image-aside {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.event {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Paragraphe */
.p1,.p2 {
    text-align: center;
    word-wrap: break-word;
    padding: 1rem;
}

.p1 {
    font-size: 1.2rem;
}

/* Main */
main
{
  content: '';
  width: 100%;
  animation: animate 0.9s linear ;
}

@keyframes animate {
  0% {
        transform:scaleX(0);
        transform-origin: left;
  }

  50%
  {
        transform:scaleX(1);
        transform-origin: left;
  }

  50.1%
  {
        transform:scaleX(1);
        transform-origin: right;
    
  }
  
  100%
  {
        transform:scaleX(0);
        transform-origin: right;
    
  }
}

/* Section */
article  {
    box-shadow: 0px 0px 5px red;
}

aside {
    box-shadow: 1px 2px 6px lightblue;
}

aside, article {
    text-align: center;
    padding: 1.5rem;
    border-radius: 1rem;
    margin-top: 2rem;
    height: 100%;
    width: 100%;
}

aside span {
    color: green;
    font-weight: bold;
}

/* class section */
.section {
    border-radius: 5rem;
    background-color:  #f8f9fa;
    box-shadow: 0px 0px 5px black;
    padding: 2rem;
    margin: 3rem;
    height: 18rem;
}

.Logo {
    margin: 1rem;
    height: 80px;
    width: 80px;
    object-fit: cover;
}

/* footer */

footer {
    background-color: #f8f9fa;
    margin-bottom: 0;
    width: auto;
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
}

@media screen and (max-width: 800px) {

    /* section */
    main section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* title */
    header h1 {
        font-weight: bold;
        font-size: 3rem;
        background: -webkit-linear-gradient(#0d6efd, rgb(161, 161, 161), #0d6efd);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /* section follow the news of as-sos */
    .section {
        border-radius: 5rem;
        background-color:  #f8f9fa;
        box-shadow: 0px 0px 5px black;
        padding: 1rem;
        margin: 1rem;
        height: 18rem;
    }

    .Logo {
        padding: 1.3rem;
        margin: 1rem;
        height: 80px;
        width: 80px;
        object-fit: cover;
    }

    /* description */
    .p1 {
        font-size: 1rem;
        text-overflow: ellipsis;
    }

    /* button */
    .btn button {
        width: 9rem;
    }
}