/* html, body */
:root, body {
    padding: 0;
    margin: 0;
    background-color: lightgray;
}

/* header */
header {
    background-color: #f8f9fa; 
    height: auto;
}

header h1 {
    font-weight: bold;
    font-size: 4.5rem;
    background: -webkit-linear-gradient(#8484ff, rgb(98, 124, 129), #0d6efd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* nav */
.navbar-nav .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbarToggler {
    line-height: 2rem;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
}

nav {
    border-radius: 1rem;
}

/* formulaire */

#inputGroup-sizing-sm{
    width: 5.2rem;
}

.d-flex {
    width: 30rem;
    border-radius: 1rem;
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px lightblue;
}

.btn {
    margin-top: 1rem;
    width: 100%;
}

/* footer */ 

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn-dark {
    margin-left: 2rem;
    width: auto;
}


.link {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 700px) {

    /* title */
    header h1 {
        font-weight: bold;
        font-size: 2rem;
        background: -webkit-linear-gradient(#0d6efd, rgb(161, 161, 161), #0d6efd);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/* nav */
@media screen and (max-width: 991px) {

    .navbar-nav .nav-item{
        flex-direction: column;
        }
    } 

