header {
    position: sticky; /* sticky calcul la hauteur du bloc */
    top: 0;
    background: var(--color);
    width: auto;
    height: 18rem;
    box-shadow: 0px 2px 5px white;
    border-bottom: 2px solid red;
}

.grid-header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}


